---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import MainSection from "@/components/ui/blocks/MainSection.astro";
import FeaturesStats from "@/components/sections/features/FeaturesStats.astro";
import CustomGallery from "@/components/sections/gallery/CustomGallery.astro";
import Team from "@/components/sections/Team.astro";
import Contact from "@/components/sections/cat/Contact.astro";

import faqs from "@data/cat/faqs.json";
import features from "@data/cat/features.json";
import { teamData } from "@/data_files/cat/team"
---
<MainLayout>
  <section id="servicios">
    <FeaturesGeneral
      title=`<span class="text-orange-500 dark:text-orange-400">Serveis</span> </br> que tenim per a tu`
      subTitle=""
      alt="Serveis en caixes flotants"
      features={features}
    />

    <ClientsSection
      title=`Recoltzats pels <span class="text-orange-400 dark:text-orange-400">líders</span> del sector`
      subTitle="Servicio Técnico Oficial de:"
    />
  </section>
  <section id="empresa">
    <MainSection
    title=`<span class="text-orange-500 dark:text-orange-400">Empresa</span> amb més de 60 anys d'experiència`
    subTitle="Fills de Rocha i López va ser fundada el 1966 per Antonio Rocha Palou, començant amb la reparació i venda de maquinària agrícola i de jardineria. L'any 1990, el seu fill Antonio Rocha López va assumir la direcció, ampliant els serveis a generadors, automatització i maquinària d'obra pública."
    subTitle2="L'empresa es va consolidar com a referent en el sector i, actualment, la tercera generació, amb Sergi Rocha al capdavant, ha pres el relleu, modernitzant el taller i adaptant-se a les noves tecnologies. El seu enfocament innovador ha permès a l'empresa mantenir-se a l'avantguarda del sector."
    btnExists={true}
    btnTitle="Contacta amb nosaltres"
    btnURL="#contacto"
    />
  
    <CustomGallery></CustomGallery>
  
    <FeaturesStats
        title=""
        subTitle="El nostre compromís amb la qualitat i l'experiència ens avala en cada servei que oferim. A Fills Rocha, treballem per garantir solucions duradores en maquinària i equips per als teus projectes."
        mainStatTitle="96%"
        mainStatSubTitle="dels nostres clients valoren el nostre servei com a excel·lent."
        stats={[
          {
            stat: "200+",
            description: "desplaçaments anuals",
          },
          {
            stat: "17.000km+",
            description: "per atendre les seves necessitats",
          },
          {
            stat: "800",
            description: "reparacions anuals",
          },
        ]}
    />
  </section>

  <section id="equipo">
    <Team title="El nostre equip" teamData={teamData} />
  </section>
  <section id="faq">
    <FAQ title="FAQ <br /> Preguntes freqüents" faqs={faqs} />
  </section>

  <section id="contacto">
    <Contact />
  </section>
</MainLayout>

<script>
// set active nav item on scroll
document.addEventListener("DOMContentLoaded", () => {
  const sections = document.querySelectorAll("section[id]");
  const updateActiveLink = () => {
    const viewportCenter = window.innerHeight / 2;

    let closestSection = null;
    let minDistance = Infinity;

    sections.forEach((section) => {
      const sectionTop = section.getBoundingClientRect().top;
      const distanceToCenter = Math.abs(sectionTop - viewportCenter);
      if (distanceToCenter < minDistance) {
        minDistance = distanceToCenter;
        closestSection = section;
      }
    });

    if (closestSection ) {
      const id = (closestSection as Element).getAttribute("id");
      if (id) setActiveNavItem(id);
    }
  };

  
  window.addEventListener("scroll", updateActiveLink);
  updateActiveLink();

  function setActiveNavItem(id:string ) {
    let url = id
    let navBar = document.getElementById("navbar-collapse-with-animation");
    if (navBar) {
      const links = navBar.querySelectorAll('a');
      links.forEach(link => {
        link.classList.remove(
          "text-orange-300", "dark:text-orange-300", "dark:hover:opacity-100"
        );
        if(link.id.replace('#','') === url) {
          link.classList.add("text-orange-300", "dark:text-orange-300", "dark:hover:opacity-100");
        }
      });
    }
  }
});


</script>
