<div class="m-6  mr-0 grid grid-cols-2 sm:grid-cols-4 gap-2 max-w-5xl justify-center mx-auto">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-5.jpg" alt="Gallery Image">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-7.jpg" alt="Gallery Image">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-8.jpg" alt="Gallery Image">
  <span class="hidden sm:block"></span>
  
  <img class="w-full size-40 object-cover opacity-90" src="/gallery/gallery-10.jpg" alt="Gallery Image">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-2.jpg" alt="Gallery Image">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-6.jpg" alt="Gallery Image">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-4.jpg" alt="Gallery Image">
  
  <span class="hidden sm:block"></span>
  <img class="w-full size-40 object-cover" src="/gallery/gallery-1.jpg" alt="Gallery Image">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-9.jpg" alt="Gallery Image">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-3.jpg" alt="Gallery Image">
  <span class="hidden sm:block"></span>
  </div>