<div class="m-6  mr-0 lg:mr-20 grid grid-cols-2 sm:grid-cols-4 gap-2 max-w-5xl justify-center mx-auto">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-5.jpg" alt="Operarios trabajando">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-7.jpg" alt="neumatico oruga">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-8.jpg" alt="Operario con herramienta subiendo escalera">
  <span class="hidden sm:block"></span>
  
  <img class="w-full size-40 object-cover opacity-90" src="/gallery/gallery-10.jpg" alt="Taller vista general">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-2.jpg" alt="Operario entrando en administración">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-6.jpg" alt="Excavadora">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-4.jpg" alt="Adminsitrativa gestionando cajas">
  
  <span class="hidden sm:block"></span>
  <img class="w-full size-40 object-cover" src="/gallery/gallery-1.jpg" alt="Operario manejando toro">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-9.jpg" alt="Operarios arreglando motor">
  <img class="w-full size-40 object-cover" src="/gallery/gallery-3.jpg" alt="Mano de operario sobre engranaje">
  <span class="hidden sm:block"></span>
  </div>