---
import { Image } from "astro:assets"
import sergi from "@/assets/team/sergi.jpg"
import mario from "@/assets/team/mario.jpg"
import toni from "@/assets/team/toni.jpg"
import merche from "@/assets/team/merche.jpg"

---

<div class="relative mx-auto max-w-[85rem] my-6 md:my-12 lg:my-24 xl:my-18 px-4 pb-16 py-8 sm:px-6 lg:px-8">
    
    <!-- Title -->
    <div class="max-w-2xl mb-14 mx-auto text-center lg:mb-20">
      <h2 class="text-balance text-4xl text-center font-bold text-neutral-800  dark:text-neutral-400 lg:text-5xl ">Nuestro equipo</h2>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class=" grid grid-cols-2 lg:grid-cols-4 gap-4 md:gap-0">
      <div class="text-center">
        <Image class="rounded-xl sm:size-48 lg:size-60 mx-auto" src={sergi} alt="Sergi Jefe taller" />
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium text-orange-300 sm:text-base lg:text-lg">
            Sergi Rocha
          </h3>
          <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-neutral-400">
            Jefe de Taller
          </p>
        </div>
      </div>
      <!-- End Col -->
  
      <div class="text-center">
        <Image class="rounded-xl sm:size-48 lg:size-60 mx-auto" src={toni} alt="Antonio director" />
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium sm:text-base lg:text-lg text-orange-300">
            Antonio Rocha
          </h3>
          <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-neutral-400">
            Director de empresa
          </p>
        </div>
      </div>
      <!-- End Col -->
  
      <div class="text-center">
        <Image class="rounded-xl sm:size-48 lg:size-60 mx-auto" src={merche} alt="Mercè administración" />
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium sm:text-base lg:text-lg text-orange-300">
            Mercè Llimós
          </h3>
          <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-neutral-400">
            Administración y ventas
          </p>
        </div>
      </div>
      <!-- End Col -->
  
      <div class="text-center">
        <Image class="rounded-xl sm:size-48 lg:size-60 mx-auto" src={mario} alt="Mario técnico" />
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium sm:text-base lg:text-lg text-orange-300">
            Mario
          </h3>
          <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-neutral-400">
            Técnico especialista
          </p>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
</div>