<div class="max-w-[85rem] px-4 py-10 mt-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mb-14 mx-auto text-center lg:mb-20">
      <h2 class="text-balance text-4xl text-center font-bold text-neutral-800  dark:text-neutral-200 lg:text-5xl ">Nuestro equipo</h2>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class=" grid grid-cols-2 lg:grid-cols-4 gap-8 md:gap-12">
      <div class="text-center">
        <img class="rounded-xl sm:size-48 lg:size-60 mx-auto" src="/team/sergi.jpg" alt="Avatar">
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium text-orange-300 sm:text-base lg:text-lg">
            Sergi Rocha
          </h3>
          <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-neutral-400">
            Jefe de Taller
          </p>
        </div>
      </div>
      <!-- End Col -->
  
      <div class="text-center">
        <img class="rounded-xl sm:size-48 lg:size-60 mx-auto" src="/team/toni.jpg" alt="Avatar">
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium sm:text-base lg:text-lg text-orange-300">
            Antonio Rocha
          </h3>
          <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-neutral-400">
            Director de empresa
          </p>
        </div>
      </div>
      <!-- End Col -->
  
      <div class="text-center">
        <img class="rounded-xl sm:size-48 lg:size-60 mx-auto" src="/team/merche.jpg" alt="Avatar">
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium sm:text-base lg:text-lg text-orange-300">
            Mercè Llimós
          </h3>
          <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-neutral-400">
            Administración y ventas
          </p>
        </div>
      </div>
      <!-- End Col -->
  
      <div class="text-center">
        <img class="rounded-xl sm:size-48 lg:size-60 mx-auto" src="/team/mario.jpg" alt="Avatar">
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium sm:text-base lg:text-lg text-orange-300">
            Mario
          </h3>
          <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-neutral-400">
            Técnico especialista
          </p>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
</div>