---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";

import FAQ from "@components/sections/misc/FAQ.astro";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import MainSection from "@/components/ui/blocks/MainSection.astro";
import FeaturesStats from "@/components/sections/features/FeaturesStats.astro";
import CustomGallery from "@/components/sections/gallery/CustomGallery.astro";
import Team from "@/components/sections/Team.astro";
import Contact from "@/components/sections/Contact.astro";
---

<MainLayout>
  <section id="servicios">
    <FeaturesGeneral
      title=`<span class="text-orange-500 dark:text-orange-400">Servicios</span> </br> que tenemos para ti`
      subTitle=""
      alt="Servicios en cajas flotantes"
      features={features}
    />

    <ClientsSection
      title=`Respaldados por los <span class="text-orange-400 dark:text-orange-400">líderes</span> del sector`
      subTitle="Servicio Técnico Oficial de:"
    />
  </section>
  <section id="empresa">
    <MainSection
    title=`<span class="text-orange-500 dark:text-orange-400">Empresa</span> con más de 60 años de experiencia`
    subTitle="Fills de Rocha i López fue fundada en 1966 por Antonio Rocha Palou, comenzando con la reparación y venta de maquinaria agrícola y de jardinería. En 1990, su hijo Antonio Rocha López asumió la dirección, ampliando los servicios a generadores, automatización y maquinaria de obra pública."
    subTitle2="La empresa se consolidó como referente en el sector y actualmente, la tercera generación de la mano de Sergi Rocha, ha tomado el relevo, modernizando el taller y adaptándose a las nuevas tecnologías. Su enfoque innovador ha permitido a la empresa mantenerse a la vanguardia del sector."
    btnExists={true}
    btnTitle="Contacta con nosotros"
    btnURL="#contacto"
    />
  
    <CustomGallery></CustomGallery>
  
    <FeaturesStats
        title=""
        subTitle="Nuestro compromiso con la calidad y la experiencia nos respalda en cada servicio que ofrecemos. En Fills Rocha, trabajamos para garantizar soluciones duraderas en maquinaria y equipos para tus proyectos."
        mainStatTitle="96%"
        mainStatSubTitle="de nuestros clientes valoran nuestro servicio como excelente"
        stats={[
          {
            stat: "200+",
            description: "desplazamientos anuales",
          },
          {
            stat: "17.000km+",
            description: "para atender sus necesidades",
          },
          {
            stat: "800",
            description: "reparaciones anuales",
          },
        ]}
    />
  </section>

  <section id="equipo">
    <Team />
  </section>
  <section id="faq">
    <FAQ title="FAQ <br />Preguntas frecuentes" faqs={faqs} />
  </section>

  <section id="contacto">
    <Contact />
  </section>
</MainLayout>

<script>
// set active nav item on scroll
document.addEventListener("DOMContentLoaded", () => {
  const sections = document.querySelectorAll("section[id]");
  const updateActiveLink = () => {
    const viewportCenter = window.innerHeight / 2;

    let closestSection = null;
    let minDistance = Infinity;

    sections.forEach((section) => {
      const sectionTop = section.getBoundingClientRect().top;
      const distanceToCenter = Math.abs(sectionTop - viewportCenter);
      if (distanceToCenter < minDistance) {
        minDistance = distanceToCenter;
        closestSection = section;
      }
    });

    if (closestSection ) {
      const id = (closestSection as Element).getAttribute("id");
      if (id) setActiveNavItem(id);
    }
  };

  
  window.addEventListener("scroll", updateActiveLink);
  updateActiveLink();

  function setActiveNavItem(id:string ) {
    let url = id
    let navBar = document.getElementById("navbar-collapse-with-animation");
    if (navBar) {
      const links = navBar.querySelectorAll('a');
      links.forEach(link => {
        link.classList.remove(
          "text-orange-300", "dark:text-orange-300", "dark:hover:opacity-100"
        );
        if(link.id.replace('#','') === url) {
          link.classList.add("text-orange-300", "dark:text-orange-300", "dark:hover:opacity-100");
        }
      });
    }
  }
});


</script>
