---
import BrandLogo from "@components/BrandLogo.astro";
import { SITE } from "@data/constants";

// Select the correct translation based on the page's lang prop:
const termsOfUse: string = Astro.currentLocale === "cat" ? "condicions d'ús" : "conidciones de uso";

---

<footer class="w-full bg-neutral-300 dark:bg-neutral-900">
  <div
    class="mx-auto w-full max-w-[85rem] px-4 py-2 2xl:max-w-screen-2xl"
  >
    <div
      class="grid sm:flex sm:items-center sm:justify-between sm:gap-y-0 sm:text-center"
    >
      <div class="flex items-center justify-center">
        <BrandLogo class="h-auto w-48" />  
      </div>
      <!-- Copyright -->
      <div class="flex items-center text-center my-4 sm:my-4">
        <p class="text-sm text-neutral-600 dark:text-neutral-400 ">
          © <span id="current-year"></span> {SITE.title}. "Crafted by"
          <a
            class="rounded-lg font-medium underline underline-offset-2 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-700 hover:decoration-dashed focus:outline-none focus-visible:ring dark:ring-zinc-200 dark:hover:text-neutral-300"
            href="https://marcribera.net"
            target="_blank"
            rel="noopener noreferrer">Since-4Y-Studio</a
          >.
        </p>
      </div>

      <!-- Social Brands -->
      <div class="text-center mt-4 md:mt-0 sm:mt-4">
       
          <a href="/legal_fills_rocha.pdf" target="_blank" rel="noopener noreferrer" >
            <p class="text-xs text-neutral-600 dark:text-neutral-400">  
              {termsOfUse}
            </p>
          </a>
        
      </div>
    </div>

    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      element!.innerText = year.toString();
    </script>
  </div>
</footer>
